div.element-container.css-1hynsf2.e1tzin5v3 {
    
    text-align: center;
    color: #000;
    font-size: 25px
}

div.stApp.css-fg4pbf.eczokvf1{
    /* background: #a78fff; */
    background: linear-gradient(to right, #8b9dc3,  #283655); 
    
}

div.title{
    background: #a1a3a8;
    
}
